/* Add CSS styles here! */
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Poppins&display=swap");
@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css");

/* body {
  margin: 0px !important;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
} */

html,
body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  margin: 0px !important;
  /* background-color: #fff6e9; */
}
